/brand_frontend/node_modules
brand_frontend/node_modules

# Python
brand_api/__pycache__/
*.py[cod]
*$py.class
*.so
brand_api/.Python
brand_api/env/
brand_api/venv/
brand_api/.env
brand_api/.venv
brand_api/pip-log.txt
brand_api/pip-delete-this-directory.txt

# FastAPI
brand_api/.pytest_cache/
brand_api/htmlcov/
brand_api/.coverage
brand_api/.coverage.*

# IDEs
brand_api/.vscode/
brand_api/.idea/
brand_api/*.swp
brand_api/*.swo

# OS
brand_api/.DS_Store
brand_api/Thumbs.db

# Logs
*.log
brand_api/logs/

# Database
brand_api/*.db
brand_api/*.sqlite3.env
brand-api/.env


# frontend
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
brand-frontend/node_modules
brand-frontend/.pnp
brand-frontend/.pnp.*
brand-frontend/.yarn/*
brand-frontend/!.yarn/patches
brand-frontend/!.yarn/plugins
brand-frontend/!.yarn/releases
brand-frontend/!.yarn/versions

# testing
brand-frontend/coverage

# next.js
brand-frontend/.next/
brand-frontend/out/

# production
brand-frontend/build

# misc
brand-frontend/.DS_Store
brand-frontend/*.pem

# debug
brand-frontend/npm-debug.log*
brand-frontend/yarn-debug.log*
brand-frontend/yarn-error.log*
brand-frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
brand-frontend/.env*

# vercel
brand-frontend/.vercel

brand-frontend/# typescript
brand-frontend/*.tsbuildinfo
brand-frontend/next-env.d.ts
